article {
  margin: 3rem 2rem;

  .header {
    margin-bottom: 2rem;

    &__title {
      font-size: 2rem;
      text-align: center;
    }

    &__date {
      font-size: .9rem;
      text-align: center;
      color: #333;
    }
  }

  .content {

    * {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }

    pre {
      border: 1px solid #000;
      padding: 1rem;
      background: #ddd;
    }

    code {
      padding: 2px 5px;
      background: #ddd;
      border-radius: 3px;
    }

    ul {
      margin-left: 2rem;

      li {
        margin-bottom: 0;
      }
    }
  }
}
